<!DOCTYPE html>

<html lang="">
<head>
<title>Nalpure</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace">
      <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="#" title="Help Centre"><i class="fa fa-life-bouy"></i></a></li>
      <li><a href="#" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>
      <li><a href="#" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ###################################################encabezado############################################# -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <section> 
      <!-- ################################################################################################ -->
      <div><i class="fa fa-phone"></i> </div>
      <div>
        <h1 id="logo"><a href="index.html">Fonasa</a></h1>
      </div>
      <div>
        <form class="clear" method="post" action="#">
        <!--  <fieldset>
            <legend>Search:</legend>
            <input type="search" value="" placeholder="Search Here&hellip;">
            <button class="fa fa-search" type="submit" title="Search"><em>Search</em></button>
          </fieldset>-->
        </form>
      </div>
      <!-- ################################################################################################ -->
    </section>
    <nav id="mainav"> 
      <!-- ######################################menu########################################################## -->
      <ul class="clear">
        <li class="active"><a href="">Inicio</a></li>
        <li><a class="drop" href="">Registrar</a>
          <ul>
            <li><a href="RegistroPaciente">Paciente</a></li>
            <li><a href="">Medico</a></li>
            <li><a href="">Consultas</a></li>
          </ul>
        </li>
        <li><a class="drop" href="">Consultar</a>
          <ul>
            <li><a href="">Sala de espera</a></li>
            <li><a href="">atender Consulta</a></li>
            <li><a href="">Informes</a></li>
          </ul>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded" style="background-image:url('images/backgrounds/01.png');">
  <div id="pageintro" class="hoc clear"> 
    <article>
      <h3 class="heading">Bienvenidos</h3>
      <p>El Fondo Nacional de Salud (FONASA / EPS) enmarcado en el proceso de Transformación Digital </p>
      <footer><a class="btn" href="#">Menu</a></footer>
    </article>
   
  </div>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../static/scripts/jquery.min.js"></script>
<script src="../static/scripts/jquery.backtotop.js"></script>
<script src="../static/scripts/jquery.mobilemenu.js"></script>
</body>
</html>